body {
  width: fit-content;
  height: fit-content;
  margin: 3rem auto;
  padding: 0;
  background-color: burlywood;
}

.wrapper > div {
  position: relative;
  background-color: lightblue;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt {
  position: absolute;
  left: 0;
  top: 0;
}

.answer {
  width: 50%;
  height: 50%;
  text-align: center;
}

.wrapper {
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

#box1,
#box3 {
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#box1,
#box3,
#box5,
#box7,
#box13,
#box15 {
  border-right: 1px solid gray;
}

#box10,
#box11,
#box16 {
  border-top: 1px solid gray;
}

#box2,
#box4 {
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#box5 {
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#box6 {
  border-top: 3px solid black;
  border-right: 3px solid black;
}

#box7 {
  border-top: 3px solid black;
  border-left: 3px solid black;
}

#box8 {
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

#box9 {
  border: 3px solid black;
}

#box10,
#box11 {
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

#box12 {
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
}

#box13,
#box15 {
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

#box14 {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

#box16 {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 100vw;
    height: 100vw;
  }
  .wrapper > div {
    font-size: 1rem;
  }
  .answer {
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-size: 1.5rem;
  }
}
